.contNav{
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.custom_nav_link{
    color: #2222FF;
    font-weight: bold;
}

.btnAccouny{
    background-color: #FFFFFF;
    color: #2222FF;
}




