
.divContainer{
    width: 100%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.custom_nav_link{
    color: #666666;
    font-weight: bold;
    margin-right:1em;
}

.custom_nav_link:hover{
    color: #2222FF;
}

.button-Accouny{
    background-color: #FFFFFF;
    color: #666666;
    border-color: #666666
}

.button-Accouny:hover{
    background-color: #2222FF;
}

@media (max-width: 1000px) {
    .hide-on-mobile {
        display: none;
    }

    .custom_nav_link{
        margin: 0.5em 0em 0.5em 0em;
        font-size: 1.125em;
    }
    .button-Accouny {
        margin:0.5em 0em 0.5em 0em;
        font-size: 1.125em;
    }
}

@media (max-width: 800px) {
}