.cadastro{
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.section{
    position: relative;
    width: 573px;
    border: 2px solid;
    border-radius: 10px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    margin-left: 25%;
    border-color: #D8DDE4;
    padding: 90px;
}

.nome{
    width: 200px;
    height: 60px;
    margin: 2%;
    
}

.email{
    width: 200px;
    height: 60px;
    margin: 2%;
}

.numTel{
    width: 200px;
    height: 60px;
    margin: 2%;
}

.senha{
    width: 200px;
    height: 60px;
    margin: 2%;
}

.criaConta{
    font-size: 2rem;
    color: #2222FF;
    /* text-align: center; */
    padding: 10px;
    margin: 2%;
}

.confirmaSenha{
    margin: 2%;
}


.input{
    width: 475px;
    height: 35px;
    /* background-color: #D8DDE4; */
    border: solid 2px #D8DDE4;
    border-radius: 7px;
    
}

.contEmail{
   width: 480px;
   height: 40px;
   margin-top: 16px;
   border-radius: 5px;
   background-color: #2E4DE6;
   color: #ffffff;
}

.container1{
    margin-top: 4%;
}


