.postaAula{
    width: 250px;
    height: 350px;
    background-color: #E9EEF6;
    align-items: center;
    text-align: center;
}
.containerPostarAula{
    margin-right: 210px;
    display: flex;
    margin-top: 5%;
}

.right{
    border-right: solid 2px rgb(82, 82, 82);
    margin-left: 110px;
}
@media (max-width: 768px) {
    .right{
      margin-left: 20px; /* Reduzir a margem para telas menores */
    }
  }  

  .left{
    margin-left: 50px;
  }
  @media (max-width: 768px) {
    .left{
      margin-left: 20px; /* Reduzir a margem para telas menores */
    }
  } 